@font-face {
  font-family: "iconfont"; /* Project id 4782929 */
  src: url('iconfont.woff2?t=1734318380865') format('woff2'),
       url('iconfont.woff?t=1734318380865') format('woff'),
       url('iconfont.ttf?t=1734318380865') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e608";
}

.icon-sousuo:before {
  content: "\e60a";
}

